@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(fonts/Arial.ttf);
   }

.header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.header--fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}
.menu{
    display: flex;
    width: 70%;
}

.logo{
    display: flex;
    width: 20%;
}

.menu__nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}
.menu__nav li{
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}
.picture{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.rotator_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.information{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.content__headline{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 1.2em;
}

.content p{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}

.hseries{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.hseries__headline{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .76px;
    text-transform: uppercase;
    line-height: 1.3em;
}

.hseries__content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.hseries__content--parth{
    display: flex;
    width: 20%;
    flex-direction: column;
    margin-left: 15px;
}

.hseries__content--parth1{
    display: flex;
    width: 20%;
    flex-direction: column;
}

.hseries__content--parth1:hover .icon{
    opacity: 100;
}

.hseries__content--parth:hover .icon{
    opacity: 100;
}

.icon{
    position: absolute;
    opacity: 0;
    padding-top: 10px;
    padding-left: 10px;
    width: 15px;
    height: 15px;
}

.hseries__content--parth p{
    display: flex;
    justify-content: center;
}

.hseries__content--parth1 p{
    display: flex;
    justify-content: center;
}

.plug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}

.plug h2{
    display: flex;
    width: 100%;
    justify-content: center;
}

.plug h3{
    display: flex;
    width: 100%;
    justify-content: center;
}

.plug p{
    display: flex;
    width: 80%;
    justify-content: center;
}

.found{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    font-family:  "Helvetica Neue",Arial,sans-serif;;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}
.found:hover{
    background-color: #272727;
    transition: 0.5s;
}

.info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}
.info__position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}
.info__content{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.info__content--parth1{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 5px;
}
.info__content--parth2{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 5px;
}
.info__content--parth1 p{
    display: flex;
    justify-content: center;
}

.info__content--parth2 p{
    display: flex;
    justify-content: center;
}

.info__content--parth1:hover .icon{
    opacity: 100;
}

.info__content--parth2:hover .icon{
    opacity: 100;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}
.details__content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.details__content--parth{
    display: flex;
    width: 80%;
    justify-content: center;
}
.details__content--parth:hover .icon{
    opacity: 100;
}

.details h3{
    display: flex;
    width: 100%;
    justify-content: center;
}

.examples{
    display: flex;
    width: 100%;
    justify-content: center;
}

.examples__items{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.examples__picture{
    width: 19%;
}

.modern{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}
.modern__content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modern__content h3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.modern__content p{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modern__content--parth{

    margin-top: 50px;
}

.modern__content--parth:hover .icon{
    opacity: 100;
}

.net__position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.net__content{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.net__content--parth1{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 10px;
}
.net__content--parth2{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 10px;
}

.net__content--parth1:hover .icon{
    opacity: 1000;
}

.net__content--parth2:hover .icon{
    opacity: 1000;
}

.foundation{
    display: flex;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
}

.foundation__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.foundation__content--parth{
    width: 32%;
}

.link__content--parth{
    width: 24%;
    align-items: center;
    display: flex;
}
.link__content--parth:hover .icon{
    opacity: 100;
}

.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.footer p{
    display: flex;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 30px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .73px;
    line-height: 1.6em;
    color: #454545;
    text-transform: uppercase;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.footer__button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact{
    display: flex;
    width: 17%;
    height: 60px;
    border: 2px solid #757575;
    background: #fff;
    color:  #757575;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact:hover{
    color: #fff;
    background-color: #757575;
    border-color: #757575;
    transition: 0.5s;
}

.social{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}
.social__list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 20%;
    padding: 0;
    margin: 0;
    opacity: 1;
    justify-content: space-around;
}
.social__item{
    display: flex;
    justify-content: center;
    color: grey;
    cursor: pointer;
}
.social__item:hover{
    transition: 0.1s;
    color: black;
}


