
.header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.header--fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}
.menu{
    display: flex;
    width: 70%;
}

.logo{
    display: flex;
    width: 20%;
}

.menu__nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}
.picture{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.rotator_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.information{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content p{
    width: 80%;
}

.hseries{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.hseries__headline{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hseries__content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.hseries__content--parth{
    display: flex;
    width: 20%;
    flex-direction: column;
    margin-left: 15px;
}

.hseries__content--parth1{
    display: flex;
    width: 20%;
    flex-direction: column;
}

.hseries__content--parth1:hover .icon{
    opacity: 100;
}

.hseries__content--parth:hover .icon{
    opacity: 100;
}

.icon{
    position: absolute;
    opacity: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.hseries__content--parth p{
    display: flex;
    justify-content: center;
}

.hseries__content--parth1 p{
    display: flex;
    justify-content: center;
}

.plug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.plug h2{
    display: flex;
    width: 100%;
    justify-content: center;
}

.plug h3{
    display: flex;
    width: 100%;
    justify-content: center;
}

.plug p{
    display: flex;
    width: 80%;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: grey;
    cursor: pointer;
}
.button:hover{
    background-color: darkgrey;
    transition: 100ms
}

.info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.info__position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}
.info__content{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.info__content--parth1{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 5px;
}
.info__content--parth2{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 5px;
}

.info__content--parth1:hover .icon{
    opacity: 100;
}

.info__content--parth2:hover .icon{
    opacity: 100;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.details__content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.details__content--parth{
    display: flex;
    width: 80%;
    justify-content: center;
}
.details__content--parth:hover .icon{
    opacity: 100;
}

.details h3{
    display: flex;
    width: 100%;
    justify-content: center;
}

.examples{
    display: flex;
    width: 100%;
    justify-content: center;
}

.examples__items{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.examples__picture{
    width: 19%;
}

.modern{
    display: flex;
    justify-content: center;
    width: 100%;
}
.modern__content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modern__content h3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.modern__content p{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modern__content--parth{

    margin-top: 50px;
}

.modern__content--parth:hover .icon{
    opacity: 100;
}

.net__position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.net__content{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.net__content--parth1{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 10px;
}
.net__content--parth2{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 10px;
}

.net__content--parth1:hover .icon{
    opacity: 1000;
}

.net__content--parth2:hover .icon{
    opacity: 1000;
}

.foundation{
    display: flex;
    width: 100%;
}

.foundation__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.foundation__content--parth{
    width: 32%;
}

.link__content--parth{
    width: 24%;
}
.link__content--parth:hover .icon{
    opacity: 100;
}
